body {
  margin: auto;
}
.header {
  display: flex;
  align-items: center;

  background-color: black;
  height: 50px;
  color: #fff;
}
@media (max-width: 575.98px) {
  .header {
    font-size: x-small;
  }
}
@media (max-width: 991.98px) {
  .header {
    font-size: small;
  }
}
.bigFont {
  font-weight: 500;
  font-size: x-large;
  font-family: Arial;
}

.nav-link {
  padding: 5px;
  color: white;
}
.navbar-nav-svg {
  display: inline-block;
  fill: white;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

h1 {
  text-align: center;
}

.img1Size {
  padding: 50px 50px 0px 50px;
  width: 50%;
  height: auto;
}
.p1 {
  padding: 50px 20px 50px 20px;
  font-size: 20px;
}
nav {
  text-align: center;
  font-size: 20px;
}
.bgcolorLavender {
  background-color: lavender;
}
#nav1 {
  font-size: 25px;
  color: lightcoral;
}

.bg1 {
  background-color: lavender;
}
#pg1 {
  padding: 20px 15px;
  background-color: lavender;
  font-size: 20px;
}
#pg2 {
  padding: 20px 15px;
  background-color: papayawhip;
  font-size: 20px;
}
