body {
  margin: auto;
}
.header {
  display: flex;
  align-items: center;

  background-color: black;
  height: 50px;
  color: #fff;
}
@media (max-width: 575.98px) {
  .header {
    font-size: x-small;
  }
}
@media (max-width: 991.98px) {
  .header {
    font-size: small;
  }
}
@media only screen and (min-width: 600px) {
  .card {
    width: 500px;
    height: auto;
  }
}

.bigFont {
  font-weight: 500;
  font-size: x-large;
  font-family: Arial;
}

.nav1-link {
  padding: 9px 0px 0px 8px;
  color: white;
}
.navbar-nav-svg {
  display: inline-block;
  fill: black;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.textStyle1 {
  text-align: center;
  padding: 50px 20px 20px 20px;
}

p {
  padding: 10px 40px 0px 40px;
}
